<h1>SUNDRIES! SUNDRIES! SUNDRIES!</h1>

<ul>
<% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<% if current_user != nil %>
  <%= link_to "Add New Product", new_product_path, :class => "btn btn-primary" %>
<% end %>
